<h3>Login page</h3>
<div>
      <form action="/person/login" method="POST">
        <h2>Please sign in</h2>
        <input type="text" name="username" placeholder="username" required autofocus>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">Sign in</button>
      </form>
</div>
